.pricing{
    background-image: url('../img/prices_1200px.png');
    margin-top: -480px;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;


    &__header{
        margin: 0 auto;
        font-size: 14px;
        line-height: 21px;
        color: #7f6f83;
        font-family: "Lato";
        font-weight: 400;
        text-align: center;

        &-text{
            display: none;
        }

        &-line{
            margin: 380px auto 0 auto;
            width: 70%;
            height: 2px;
            background-color: #635766;
        }
    }

    &__header-mobile{
        margin-top: 10px;
        font-size: 30px;
        line-height: 42px;
        color: white;
        font-weight: 700;
    }


    .flexcontainer_pricing{
        margin-top: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;

        @include flex-row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .flexcontainer_box{
        @include flex-column;
        width: calc(100% / 1);
    }


    &__cards{
        margin-bottom: 50px;
        background-color: rgba(93, 80, 96, 0.345);
        width: 260px;
        height: 460px;
        color: #fff;
        font-family: $montserrat;
        transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.975);

        &-title{
            font-size: 24px;
            line-height: 20px;
            font-weight: 200;
            padding: 45px 0 35px 0;
            background-color: rgba(108, 96, 110, 0.545);
            text-transform: uppercase;
        }

        &-price{
            padding-top: 20px;
            line-height: 90px;
            font-size: 60px;
            font-weight: 500;
        }

        &-priceText{
            font-size: 14px;
            font-weight: 400;
            opacity: 0.3;
            text-transform: uppercase;
        }

        &-line{
            display: inline-block;
            height: 4px;
            width: 60px;
            background: #8d81ac;
            margin: 15px 0 20px 0;
        }

        &-features{
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
        }

        &-purchase{
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            width: 190px;
            height: 50px;
            border-radius: 30px;
            cursor: pointer;
            background-color: rgba(119, 106, 122, 0.945);
            border: none;
            color: white;
            margin-top: 30px;
            outline: none;
        }

        .alignWithOthers{
            margin-top: 60px;
        }

    
        &:hover{
            transform: scale(1.12, 1.17);
            background-color: rgba(43, 36, 44, 0.445);
        }
    }
}



@media #{$tablet}{

    .pricing__header-text{
        margin: 350px auto 0 auto;
        width: 90%;
        display: block;
    }


    .pricing__header-mobile{
        padding-top: 100px;
        font-size: 50px;
    }


    .pricing__header-line{
        margin-top: 20px;
        width: 90%;
    }
    
    

    .flexcontainer_pricing{
        margin: 0 100px;
    }

    .flexcontainer_box{
        width: calc(100% / 2) !important;
    }

}


@media #{$highDesktop}{

    .pricing__header-text{
        margin: 350px auto 0 auto;
        width: 75%;
        display: block;
    }

    .pricing__header-line{
        margin-top: 20px;
        width: 70%;
    }

    .flexcontainer_pricing{
        margin: 0 30px;
    }

    .flexcontainer_box{
        width: calc(100% / 4) !important;
    }

    .pricing__cards{
        margin-top: 30px;
    }

}
